@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-white::-webkit-scrollbar {
    width: 15px; 
}

.bg-white::-webkit-scrollbar-track {
    background: #2966d6e2; 
    border-radius: 10px; 
}

.bg-white::-webkit-scrollbar-thumb {
    background: #39cbce; 
    border-radius: 10px; 
}

